web/WEB-INF/wsdl/localhost_8080/ERM/ErmManagerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://manager.business.model.erm/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://manager.business.model.erm/">

<xs:element name="publishInteraction" type="tns:publishInteraction"/>

<xs:element name="publishInteractionResponse" type="tns:publishInteractionResponse"/>

<xs:complexType name="publishInteraction">
<xs:sequence>
<xs:element name="arg0" type="tns:comment" minOccurs="0"/>
<xs:element name="arg1" type="tns:task" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comment">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="task">
<xs:sequence>
<xs:element name="createdBy" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="task" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="publishInteractionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>